
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">New Sản Phẩm</h3>
  </div>
  <div class="panel-body">
    <%= form_for :category, url: categories_path do |f| %>
     
      <% if @category.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@category.errors.count, "error") %> prohibited
            this category from being saved:
          </h2>
          <ul>
            <% @category.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <table class="table_form">
        <tr>
          <th class="title_new">Tên sản phẩm</th>
          <td><%= f.text_field :name, class: 'name input' %></td>
        </tr><br/>

      </table>
      <p>
        <%= f.button :Tạo  , class: 'btn btn-success'%>
  
        
      </p>
     
    <% end %>
     
    <%= link_to 'Back', categories_path %>

  </div>

